* {
    box-sizing: border-box;
}

/*For mobile users*/
[class*="col-"] {
    width: 100%;
}

/*For users on tablets*/
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 7.93%;}
    .col-s-2 {width: 16.26%;}
    .col-s-3 {width: 24.6%;}
    .col-s-4 {width: 32.93%;}
    .col-s-5 {width: 41.26%;}
    .col-s-6 {width: 49.6%;}
    .col-s-7 {width: 57.93%;}
    .col-s-8 {width: 66.26%;}
    .col-s-9 {width: 74.6%;}
    .col-s-10 {width: 82.93%;}
    .col-s-11 {width: 91.26%;}
    .col-s-12 {width: 99.6%;}
}

/*For desktop users*/
@media only screen and (min-width: 768px) {
    .col-1 {width: 7.93%;}
    .col-2 {width: 16.26%;}
    .col-3 {width: 24.6%;}
    .col-4 {width: 32.93%;}
    .col-5 {width: 41.26%;}
    .col-6 {width: 49.6%;}
    .col-7 {width: 57.93%;}
    .col-8 {width: 66.26%;}
    .col-9 {width: 74.6%;}
    .col-10 {width: 82.93%;}
    .col-11 {width: 91.26%;}
    .col-12 {width: 99.6%;}
}

[class*="col-"] {
    float: left;
    padding: 15px;
    margin: 0.2%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}